@charset "UTF-8";

div.menu {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-color: white;
  padding: 10px;
}

div.center {
	width:300px;
	margin : auto;
}
.menu {
	font-family: 나눔손글씨 펜;
	font-size : 25px; 
	text-decoration:none;
}
a{
	text-decoration:none;
}
a.menu:link, a.menu:visited, a.menu:active, a.menu:hover {color:#00004d;}
.menuTop {
	font-family: 나눔손글씨 펜;
	font-size : 30px; 
}
a.menuTop:link, a.menuTop:visited, a.menuTop:active, a.menuTop:hover {color:#00004d;}

