<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="BorderMapper">

	<insert id="insertIntoQnaBorder" parameterType="QnABorderDTO">
		insert into qnaborder value(qna_num, qna_title, nickname, content, <if test="qnaborder.qna_option != null">qna_option</if>)
		values (QNABORDER_NUM.nextval, #{qnaborder.qna_title}, #{qnaborder.nickname}, #{qnaborder.content} <if test="dto.qna_option != null">#{qnaborder.qna_option}</if>)
	</insert>

	<update id="updateIntoQnABorder" parameterType="QnABorderDTO">
		update qnaborder
		set qna_title = #{qnaborder.title},
		content = #{qnaborder.content},
		rewritedate = sysdate
		where qna_num = #{qnaborder.qna_num}
	</update>
	
	<select id="selectAllQnABorder" resultType="QnABorderDTO">
		select qna_num, qna_title, nickname, content, writedate, qna_option from qnaborder
	</select>
	
	<select id="selectQnAComment" resultType="QnABorderCommentDTO" parameterType="arraylist">
		select qna_num, qnac_title, writedate, content, nickname from qnabordercomment
		where qna_num in 
		<foreach collection="list" open="(" separator="," close=")" item="item">#{itme.qna_num}</foreach>
	</select>
	
	<select id="QnACountAll" resultType="int">
		select count(*) from qnaborder
	</select>
	
</mapper>