<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="CartMapper">

	<select id="selectAddInfoCart" parameterType="arraylist" resultType="OrderDTO">
		select userid, fcode, foption, famount from usercart
		where userid = #{list[0].userid}
		and fcode = #{list[0].fcode}
		and foption in
		<foreach collection="list" item="cart" open="(" separator="," close=")">
			#{cart.foption}
		</foreach> 
	</select>
	
	<insert id="InsertAllcart" parameterType="arraylist">
		insert all
		<foreach collection="list" item="item">
			into usercart (userid, fcode, famount, foption)
			values (#{item.userid}, #{item.fcode}, #{item.amount}, #{item.foption})
		</foreach>
		select * from dual
	</insert>
	
	<select id="selectCartList" parameterType="string" resultType="OrderDTO">
		select fcode, ftitle, foption, optionname, fmainimage, content, fcategory, categoryname, fprice, optionprice, famount amount, stock from usercart
		natural join food
		natural join foodoption
		natural join category
		where userid = #{userid}
	</select>
	
</mapper>