<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="FoodMapper">

	<select id="FoodList" resultType="FoodInfoDTO" parameterType="int">
		select fcode, ftitle, fprice, content, fmainimage from food
		<where>
			<if test="_parameter != null">
				fcategory = #{fcategory}
			</if>
		</where>
	</select>
	
</mapper>