<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="OrderMapper">

	<select id="orderConfirm" parameterType="OrderDTO" resultType="OrderDTO">
		select categoryname, fcode,  ftitle, content, fprice, fimage, fmainimage, foption, optionname, optionprice, stock from food
		natural join foodoption
		natural join category
		where fcode = #{fcode} and foption = #{foption}
	</select>
	
	<insert id="orderAllDone" parameterType="arraylist">
		insert all
		
		<foreach collection="list" item="item">
			into forder (ordernum, userid, fcode, orderamount, foption, paymethode, 
								o_addr_post, o_addr_f, o_addr_l, payment)
			values(order_nextval(), #{item.userid}, #{item.fcode}, #{item.orderamount}, #{item.gPrice}, #{item.gSize},#{item.gColor},
				#{item.gAmount},#{item.gImage},#{item.orderName},#{item.post},#{item.addr1},#{item.addr2},#{item.phone}, #{item.payMethod})
		</foreach>
		select * from dual
	</insert>

</mapper>